<div class="modal-dialog">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" (click)="modal.hide()"><span aria-hidden="true">&times;</span></button>
    </div>
    <form class="form-horizontal p-m" role="form" #loginForm="ngForm">
      <div class="modal-body">
        <h4 class="modal-title mb -m">Login</h4>
        <div class="form-group">
          <label for="login-email" class="">EMAIL</label>
          <input [(ngModel)]="email" required type="text" id="login-email" name="email" class="form-control email" placeholder="example@gmail.com">
        </div>
        <div class="form-group">
          <label for="login-password" class="">PASSWORD</label>
          <input [(ngModel)]="password" required type="password" id="login-password" name="password" class="form-control email mb-xxs-sm" placeholder="xxxxxx">
          <a href="" class="navy-link">Login Lost your password?</a>
        </div>
      </div>
      <div *ngIf="errorMessage" class="alert alert-danger">
        <button type="button" class="close" (click)="errorMessage = undefined">&times;</button>
        <strong>{{errorMessage}}</strong>
      </div>
      <div class="modal-footer">
        <button (click)="login(email, password)" type="button" class="btn btn-primary">Login</button>
        <div class="signup-today text-center p-m mt-m">
          <p>Don’t have an account?</p>
          <a href="" class="navy-link">Sign Up Today</a>
        </div>
      </div>
    </form>
  </div>
</div>
