.modal-dialog {
  width: 420px;
}
.modal-content {
  border-radius: 0;
}
.modal-header {
  border-bottom: none;
}
.modal-footer {
  border-top: none;
}
.modal-title {
  font-size: 18px;
  font-weight: bold;
  color: #4a4a4a;
}
.form-horizontal .form-group {
  margin-left: 0;
  margin-right: 0;
}
.signup-today {
  background-color: #f3f3f4;
  margin-left: -51px;
  margin-right: -50px;
  margin-bottom: -50px;
}
