<header class="navbar-wrapper">
  <nav class="navbar navbar-default" role="navigation">
    <div class="top-bar">
      <div class="container">
        <div class="row">
          <div class="col-md-12 col-sm-12 col-xs-12">
            <ul class="list-inline pull-right top-right">
              <li class="nav-list">
                <span>
                  <!--로그인이 되었을때만 보일것: 홈, 지갑정보확인, 전송하기 // 안되었을때 보일것: 로그인,지갑 생성-->
                  <div *ngIf="!email;else loginInfo" class="account-login">
                    <a href="#" (click)="onSignupClick.emit()" datsa-toggle="modal" data-target="#login-modal">회원가입</a>
                    <a href="#" (click)="onLoginClick.emit()" data-toggle="modal" data-target="#signup-modal">로그인</a>
                  </div>
                  <ng-template #loginInfo>
                    <a href="#" (click)="openHome($event)">홈</a>
                    <a href="#" (click)="openInfo($event)">지갑 정보 확인</a>
                    <a href="#" (click)="openTransfer($event)">전송하기</a>
                    <a href="#" (click)="logout($event)">로그아웃</a>
                  </ng-template>
                </span>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="container navbar-inner">
      <div class="navbar-header page-scroll">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                aria-expanded="false"
                aria-controls="navbar">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/">Home</a>
      </div>
    </div>
  </nav>
</header>
