<div class="modal-header">
  <button type="button" (click)="modal.hide()" class="close" data-dismiss="modal" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<form #signupForm="ngForm" method="POST" class="form-horizontal p-m" role="form">
  <div class="modal-body">
    <h4 class="modal-title mb-m">Add Token</h4>
    <div class="form-group">
      <label for="address">address</label>
      <input [(ngModel)]="address" required type="text" id="address" name="address" class="form-control address" placeholder="token address" [readonly]="set">
    </div>
    <div *ngIf="checkResult === false; else tokenTem" class="modal-footer">
      <button (click)="checkAddr(address)" type="button" class="btn btn-primary">주소 확인</button>
    </div>
    <ng-template #tokenTem >
      <div class="form-group">
        <label for="address">name</label>
        <input required type="text" id="tokenName" name="tokenName" class="form-control address" placeholder="{{token.name}}" readonly>
      </div>
      <div class="form-group">
        <label for="address">decimal</label>
        <input required type="text" id="decimal" name="decimal" class="form-control address" placeholder="{{token.decimals}}"readonly >
      </div>
      <div class="form-group">
        <label for="address">symbol</label>
        <input required type="text" id="symbol" name="symbol" class="form-control address" placeholder="{{token.symbol}}"readonly>
      </div>
      <div class="form-group">
        <label for="address">total supply</label>
        <input required type="text" id="totalSupply" name="totalSupply" class="form-control address" placeholder="{{token.totalSupply}}" readonly>
      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-primary" (click)="addToken()">토큰 추가</button>
      </div>
    </ng-template>

    <div *ngIf="errorMessage" class="alert alert-danger">
      <button type="button" class="close" (click)="errorMessage = undefined">&times;</button>
      <strong>{{errorMessage}}</strong>
    </div>
  </div>



</form>
